<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{$seo.description}">
	<meta name="keywords" content="{$seo.keywords}">
    <!-- Made By Jerry blog.jerryiweb.com -->
	<title>搜索 - {$seo.title}</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container col-md-8 col-md-offset-2">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">杰瑞影视</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">首页</a></li>
                            <li><a href="/index/Vlists/dianying/1">电影</a></li>
                            <li><a href="/index/Vlists/dianshi/1">电视剧</a></li>
                            <li><a href="/index/Vlists/dongman/1">动漫</a></li>
                            <li><a href="/index/Vlists/zongyi/1">综艺</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input id="searchtext" type="text" class="form-control" placeholder="Search">
								 <button id="search" type="button" class="btn btn-default">搜索</button>
                                </div>
                            </form>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <span class="glyphicon glyphicon-search"></span><span style="font-size: 18px;"> 搜索结果</span>
                </div>
                <div class="panel-body">
                    {volist name="data" id="data"}
                    <div class="col-md-6 col-xs-12" style="margin-top: 6px;height:260px;">
                        <a href="/index/Detail/{if $data.type=='电视剧'}tv{elseif $data.type=='电影'/}m{elseif $data.type=='动漫'/}ct{elseif $data.type=='综艺'}va{/if}/{$data.urlid}">
                            <div class="col-md-5 col-xs-6">
                                <img src="{$data.img}" alt="{$data.title}" class="img-responsive"
                                    style="width: 100%;height:240px;">
                            </div>
                        </a>
                        <div class="col-md-7 col-xs-6" style="margin-top: 6px;">
                            <h4><span>Title: </span>{$data.title}</h4>
                            <p><span style="font-size: 18px;">Type：</span><span>{$data.type}</span></p>
                            <p><span style="font-size: 18px;">Year：</span>{$data.time}</p>
                            <p><span style="font-size: 18px;">Description：</span>{$data.desc}</p>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <span style="font-size: 18px;">本站所有内容均来自互联网，如果本站部分内容侵犯您的版权请告知，在必要证明文件下我们第一时间撤除</span><br />
                    <span class="glyphicon glyphicon-copyright-mark"></span><span style="font-size: 18px;"> All Rights
                        Reserved <a href="https://blog.jerryiweb.com/">Jerry</a></span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>